.basket-clear {
  width: 100%;
  text-align: center;
  height: auto;
  &__heading {
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    display: flex;
    justify-content: center;
    * {
      text-align: center;
      position: relative;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      color: #f2f2f2;
    }
  }
  &__paragraf {
    position: relative;
    height: 52px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color: #f2f2f2;
  }
  margin-bottom: 20px;
  &__button {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    text-align: center;
    border: 2px solid f96d00;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
    color: #f2f2f2;
    height: 80px;
    background-color: transparent;
    border: 2px solid #f96d00;
    box-shadow: inset 0 0 0.5em 0 #f96d00, 0 0 0.5em 0 #f96d00;
    transition: 0.3s;
    &:hover {
      background: #f96d00;
    }
  }
}
