.product {
  width: 30%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  animation: border 5s linear infinite;
  &__header {
    color: #f2f2f2;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  &__image {
    border: 5px solid black;
    width: 100%;
    height: 200px;
  }
  &__rating {
    display: flex;
    justify-content: space-between;
  }
  &__description {
    word-wrap: break-word;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #f2f2f2;
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    margin-top: 2px;
    color: #f2f2f2;
  }
  &__button {
    margin-top: 2px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    background-color: transparent;
    border: 3px double #f96d00;
    box-shadow: inset 0 0 0.5em 0 #f96d00, 0 0 0.5em 0 #f96d00;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    color: #f2f2f2;
    transition: 0.3s;

    &:hover {
      background-color: #f96d00;
    }
  }
}

@media only screen and (max-width: 620px) {
  .product {
    width: 100%;
    height: auto;
    &__image {
      height: 250px;
    }
  }
}

@keyframes border {
  0% {
    border: 3px dashed #f96d00;
    box-shadow: dashed 0 0 0.5em 0 #f96d00, 0 0 0.5em 0 #f96d00;
  }
  25% {
    border: 3px outset green;
    box-shadow: outset 0 0 0.5em 0 green, 0 0 0.5em 0 green;
  }
  50% {
    border: 3px double #1482ff;
    box-shadow: double 0 0 0.5em 0 #1482ff, 0 0 0.5em 0 #1482ff;
  }
  75% {
    border: 3px outset#f2f2f2;
    box-shadow: outset 0 0 0.5em 0 #f2f2f2, 0 0 0.5em 0 #f2f2f2;
  }
  100% {
    border: 3px inset red;
    box-shadow: inset 0 0 0.5em 0 red, 0 0 0.5em 0 red;
  }
}
